<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts</title>
    <link rel="stylesheet" href="layout_fixo.css">
</head>
<body>
   
    <div id="container">
            <div id="marca"></div>
            <div id="conteudo">
                    <div id="primario">                   
                        <h2>Conteudo 1</h2>
                        <img class="img-noticia" src="imagen-layout/natureza.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum deserunt tempora odit cumque porro numquam. Eveniet impedit voluptatum, quidem vero et, possimus quaerat reprehenderit aliquid atque dolor reiciendis rerum ipsa?</p>
                    </div>
                    <div id="secundario">                   
                        <h4>Conteudo 2</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum deserunt tempora odit reprehenderit aliquid atque dolor reiciendis rerum ipsa?</p>
                    </div>

            </div>
            <div id="navegação">
                <ul>
                    <li><a href="">Solda</a></li>
                    <li><a href="">Óleo lubrificante</a></li>
                    <li><a href="">Pneus</a></li>
                    <li><a href="">Mateiras</a></li>
                </ul>
            </div>
           
            <div id="rodape">Rodape</div>
    </div>

</body>
</html>